<div class="margin-5">
    <div class="col-md-3">
        <app-side-nav></app-side-nav>
    </div>
    <div class="col-md-7">
        <table class="table-payment">
            <tr>
                <td><strong> Customer Name</strong></td>
                <td>XYZ</td>
            </tr>
            <tr>
                <td><strong> Loan Amount</strong></td>
                <td>200000</td>
            </tr>
            <tr>
                <td><strong> Loan Term (Years)</strong></td>
                <td>XYZ</td>
            </tr>
            <tr>
                <td><strong> Payments Per Year</strong></td>
                <td>XYZ</td>
            </tr>
            <tr>
                <td><strong> Rate of Interest</strong></td>
                <td>XYZ</td>
            </tr>
            <tr>
                <td><strong> Monthly Installment</strong></td>
                <td>7234</td>
            </tr>
        </table>
    </div>